body {
    /* background: no-repeat;
    background-image: url("../img/chambre.png");
    background-size: cover;  */
    background-color: black;
}

img { 
    width: 100vw;
    height: 100vh;
}


h1{
    position: absolute;
    margin-top: 47vh;
    margin-left: 36vw;
    opacity: 0;
    font-size: 4vw;
}

h2 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(3, 3, 3);
    bottom: 5%;
    left: 10%;
    position: absolute;
}
