html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  color: #00ff27;
  font-family: "Courier New", Courier, monospace;
}

body {
  position: relative;
}

main {
  width: 80%;
  height: 60vh;
  border: 2px solid #00ff27;
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
  overflow: hidden;
}

.description {
  overflow: hidden;
  position: relative;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  animation: description 4s steps(44) 1s 1 normal both,
    descriptionCursor 700ms steps(44) infinite normal;
}

main.h2 {
  width: 80%;
  height: 60vh;
  border: 2px solid #00ff27;
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
  font-family: "TramVihnTanTanGapregassam", "Randrianampoinimeria";
}

@keyframes description {
  from {
    width: 0;
  }

  to {
    width: 18em;
  }
}

@keyframes descriptionCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}
