body {
    /* background: no-repeat;
    background-image: url("../img/chambre.png");
    background-size: cover;  */
    background-color: black;
}



img {
    width: 100vw;
    height: 100vh;
}

h1{
    position: absolute;
    margin-top: 24vh;
    margin-left: 84vw;
    opacity: 0;
    font-size: larger;
}