html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  color: #00ff27;
  font-family: "Courier New", Courier, monospace;
}

body {
  position: relative;
}

main {
  width: 80%;
  height: 60vh;
  border: 2px solid #00ff27;
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
  overflow: hidden;
}

#text {
    opacity: 0;
    transition: 1s;
    transition-duration: 1s;
}

#doomguy {
  width: 50%;
  height: auto;
  transition: 1s;
  transition-duration: 1s;
}

#troll {
 height: 30vh;
}